
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border: 2px solid grey;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 80px;
    /* display: block;   */

}
.book-container{
    
    
    margin-left: 580px;
    border: 2px solid grey;
    width: auto;
    height: auto;
    text-align: center;
    padding: 50px;
    display: inline-block;
}
.bookstyling li {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   list-style: none;
    padding: 5px;
    /* margin: 20px; */
    font-weight: border;
    /* border: 1px solid grey; */
}